<?php
// Databashantering
$_YINIT['core_db_login'] = '';
$_YINIT['core_db_password'] = '';
$_YINIT['core_db_database'] = 'dst';
$_YINIT['core_db_host'] = 'localhost';

// Språkhantering
$_YINIT['core_localization_default_language'] = 'sv';
?>
