body {
	font-family: Verdana;
}

div#new_speaker {
	font-size: 36px;
	font-family: Verdana;
	margin-top: 30px;
	margin-left: 30px;
}

div#list {
	margin-left: 30px;
}

input {
	font-size: 36px;
}

th, td {
	font-size: 24px;
}
