body {
	font-family: Verdana;
	margin-left: 10em;
	font-size: 24px;
}

form#new_speaker {
	font-size: 24px;
	font-family: Verdana;
	margin-bottom: 1em;
}

form#details > label {
	display: inline-block;
	width: 12em;
}

#list th,
#list td {
	text-align: left;
}

.id_column {
	width: 6em;
}

.name_column {
	width: 14em;
}

.group_column {
	width: 12em;
}

input {
	font-size: 24px;
}
