body {
	font-family: Verdana;
	margin-left: 10em;
}

div#new_speaker {
	font-size: 36px;
	font-family: Verdana;
	margin-top: 30px;
	margin-left: 30px;
}

#list th,
#list td {
	text-align: left;
}

.id_column {
	width: 6em;
}

.name_column {
	width: 14em;
}

.group_column {
	width: 12em;
}

input {
	font-size: 36px;
}

th, td {
	font-size: 24px;
}
