<!DOCTYPE html>
<html>
  <head>
    <title>Södra Skånes distriktsstämma</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
{% if logged_in %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
var addDelegate = function() {
  var delegate = {};
  delegate.name = $('#name').val();
  delegate.group = $('#group').val();

  $.ajax({
    type: "post",
    url: "/api/delegates",
    data: JSON.stringify(delegate),
    headers: {
      "Accept": "application/json",
      "Content-Type": "application/json"
    },
    success: function(data) {
      window.location = '/';
    }
  });
};

$(function() {
  $('#updateButton').click(addDelegate);
});
    </script>
{% endif %}
  </head>
  <body>
{% if logged_in %}
    <h1>Lägg till delegat</h1>
    <p><a href="/">Tillbaka till talarlistan</a></p>
    <form id="details" name="details">
      <label for="name">Namn: </label>
      <input type="text" id="name" name="name"><br>
      <label for="group">Scoutkår: </label>
      <input type="text" id="group" name="group"><br>
      <input type="button" id="updateButton" value="Lägg till delegat">
    </form>
{% endif %}
  </body>
</html>
