<!DOCTYPE html>
<html>
  <head>
    <title>Södra Skånes distriktsstämma</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
var updateForm = function(delegate) {
  $.get({
    url: "/api/delegates/" + delegate,
    headers: {
      "Accept": "application/json"
    },
    success: function(result) {
{% if logged_in %}
      $('#delegate').val(result.id);
      $('#name').val(result.name);
      $('#group').val(result.group);
{% else %}
      $('#delegate').html(result.id);
      $('#name').html(result.name);
      $('#group').html(result.group);
{% endif %}
    }
  });
};

{% if logged_in %}
var updateSpeaker = function() {
  var delegate = {};
  delegate.delegate = $('#delegate').val();
  delegate.name = $('#name').val();
  delegate.group = $('#group').val();

  $.ajax({
    type: "put",
    url: "/api/delegates/" + delegate.id,
    data: JSON.stringify(delegate),
    headers: {
      "Accept": "application/json",
      "Content-Type": "application/json"
    },
    success: function(data) {
      window.location = '/';
    }
  });
};
{% endif %}

$(function() {
  updateForm({{ delegate }});
  $('#updateButton').click(updateSpeaker);
});
    </script>
  </head>
  <body>
{% if logged_in %}
    <h1>Förändra delegat</h1>
    <form id="details" name="details">
      <label for="delegate">Delegatnummer: </label>
      <input type="text" id="delegate" name="delegate"><br>
      <label for="name">Namn: </label>
      <input type="text" id="name" name="name"><br>
      <label for="group">Scoutkår: </label>
      <input type="text" id="group" name="group"><br>
      <input type="button" id="updateButton" value="Uppdatera delegat">
    </form>
{% else %}
    <h1>Information om delegat</h1>
    <table>
      <tr>
        <td>Delegatnummer:</td>
        <td id="delegate"></td>
      </tr>
      <tr>
        <td>Namn:</td>
        <td id="name"></td>
      </tr>
      <tr>
        <td>Scoutkår:</td>
        <td id="group"></td>
      </tr>
    </table>
    <a href="/">Tillbaka till talarlistan</a>
{% endif %}
  </body>
</html>
