<!DOCTYPE html>
<html>
  <head>
    <title>Södra Skånes distriktsstämma</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <meta http-equiv="content-type" content="text/html;charset=utf-8" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script>
var updateList = function() {
  $.get({
    url: "/",
    headers: {
        "Accept": "application/json"
    },
    success: function(result) {
        html = '';
        for (row in result) {
            html += '<tr><td class="id_column">' + result[row].id +
                 '</td><td class="name_column">' + result[row].name +
                 '</td><td class="group_column">' + result[row].group +
                 '</td><td class="control_column"></td></tr>';
        }
        $('#list > tbody').html(html);
    }
  });
  setTimeout(updateList, 1000);
};

$(function() {
  updateList();
});
    </script>
  </head>
  <body>
    <h1>Logga in</h1>
    <form>
    <form id="details" name="details">
      <label for="user">Användare: </label>
      <input type="text" id="user" name="user"><br>
      <label for="pass">Lösenord: </label>
      <input type="text" id="pass" name="pass"><br>
      <input type="button" id="loginButton" value="Logga in">
    </form>
    </form>
  </body>
</html>
